.footer {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 10px 30px 20px;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1 1 220px;
    margin: 10px 15px;
}

.footer-section h3 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 15px;
}

.legal-links,
.contact-info {
    list-style: none;
    padding: 0;
}

.legal-links li,
.contact-info li {
    margin-bottom: 10px;
}

.legal-links a,
.vertical-links a {
    color: #cccccc;
    text-decoration: none;
    transition: color 0.3s;
}

.legal-links a:hover,
.vertical-links a:hover {
    color: #ffffff;
}

.vertical-links .link-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.vertical-links .link-item i {
    font-size: 6px;
    margin-right: 8px;
}

/* .newsletter-form {
    display: flex;
    flex-direction: column;
}

.newsletter-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

.newsletter-button {
    padding: 8px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
/* }   */


.footer-section ul.social-links-list {
  list-style: disc;
  padding-left: 20px;
  margin: 10px 0;
}

.footer-section ul.social-links-list li {
  margin: 8px 0;
}

.footer-section ul.social-links-list li a {
  /* color: #fff; change depending on your footer bg */
  text-decoration: none;
  margin-right: 10px;
  color: #cccccc;
  font-size: 18px;
}

.footer-section ul.social-links-list li a:hover {
  text-decoration: underline;
}


.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #444;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-bottom p {
  margin: 0;
  font-size: 0.9rem;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: #fff;
    color: #333;
    padding: 25px;
    border-radius: 10px;
    max-width: 700px;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
}

.popup-close {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}